*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
_gitignore_*
*.pdf
/windows_app/src/fonts/Montserrat-Black.ttf
/windows_app/src/fonts/Montserrat-Bold.ttf
/windows_app/src/fonts/Montserrat-ExtraBold.ttf
/windows_app/src/fonts/Montserrat-Medium.ttf
/windows_app/src/fonts/Montserrat-Regular.ttf
/windows_app/src/fonts/Montserrat-SemiBold.ttf
